$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-family: 'Cormorant Garamond', serif;
$primary: #4F81BD;   // Neuropharm Blue
$secondary: #493728; // Neuropharm Dark Brown
$light: #FDF5E6;    // Neuropharm Parchment
$dark: #493728;     // Neuropharm Dark Brown
$brand-primary: #C55A11; // Neuropharm Orange
$body-bg: $light;
$body-color: $dark;
$headings-color: $dark;
$link-color: $primary;
