
.program-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  .program-card {
    background: #422710;
    border: 2px solid #b8860b;
    border-radius: 8px;
    color: #EAE0D5;
    box-shadow: 0 0 8px #1a1006;
    padding: 1.5rem;
    width: calc(33% - 1.5rem);
    margin-bottom: 2rem;
    .program-title {
      color: #b8860b;
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
    .program-meta {
      color: #EAE0D5;
      font-size: 1em;
      margin-bottom: 0.5em;
    }
    .program-link {
      color: #b8860b;
      text-decoration: underline;
      &:hover { color: #FDF5E66c2; }
    }
  }
}

